<div class="container">

    <div class="row mt-5 mb-5">
        <!-- "aside" ocupando 4 colunas de 12 -->
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem">
                <div class="d-flex justify-content-center">
                    <img src="https://images-cdn.9gag.com/photo/aWY80zd_460s.jpg"
                        class="card-img-top rounded-circle w-75" alt="Sra. Alpaca">
                </div>

                <div class="card-body">

                    <h5 class="card-title text-center">Sra. Alpaca</h5>

                    <p class="card-text text-center">Sra. Alpaca é um pseudônimo para Laura Brasileiro, estudante de
                        Desenvolvimento Web na Instituição Generation Brasil - Turma Amarela. Este blog tem como
                        objetivo prática em Angular.
                    </p>


                    <a href="https://www.linkedin.com/in/laura-brasileiro-b07627198/"
                        class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blanck">LinkedIn</a>

                    <a href="https://github.com/lauraBrasileiro"
                        class="btn btn-outline-dark d-flex justify-content-center " target="_blanck">Github</a>

                    <hr class="mt-4 mb-4">

                    <h6 class="mb-3 text-monospace text-center">Pesquisar por título</h6>

                    <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisar postagem">

                    <button class="btn btn-outline-warning w-100" type="button">Pesquisar</button>


                </div>
            </div>
        </div>




        <!-- "section" ocupando 8 colunas de 12 -->
        <div class="col-md-8">

            <div>
                <h3 class="text-center mb-4 text-monospace">Como tem sido minha experiência da Generation?</h3>
                <!-- a class form-group é estilo formulario do BOOTSTRAP e não form do HTML -->
                <div class="form-group">
                    
                    <!-- titulo -->
                    <div class="form-group">
                        <label for="titulo" class="text-monospace">Título</label>
                        <input type="text" name="titulo" id="titulo" class="form-control text-monospace" placeholder="digite o seu título">
                    </div>
                    <!-- texto -->
                    <div class="form-group">
                        <label for="texto" class="text-monospace">Texto:</label>
                        <textarea name="texto" id="texto" cols="30" rows="10" class="form-control text-monospace"  placeholder="digite o seu texto"></textarea>
                    <!-- botão -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-info w-25 mt-3" >Publicar</button>
                    </div>

                    </div>
                </div>
            </div>

            <hr class="bt-5 mb-5">

            <h3 class="text-monospace text-center">Minhas Postagens</h3>


        </div>

    </div>

</div>